.contenedor-card {
  width: 80%;
  height: 368px;
  margin: 10px 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
  margin: 0 auto;
  margin-bottom: 25px;
}

.imagen-card {
  height: 100%;
  width: auto;
}

.contenedor-texto-card {
  text-align: center;
  padding: 40px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

.nombre-card {
  font-size: 2rem;
  font-weight: bold;
}

.cargo-card {
  font-size: 1.3rem;
  margin-top: 15px;
  padding-bottom: 30px;
}

.texto-card {
  font-size: 1.1rem;
  text-align: justify;
}
